Asg 1

In [ ]:
n=3
i=0
while i<n:
  print("Neeraj")
  i=i+1

Neeraj
Neeraj
Neeraj

Asg 2

In [ ]:
a=14
b=17
c=19
result=a+b+c
print(f"summ of {a}+{b}+{c} = {result}")

sum of 14+17+19 = 50

In [ ]:
a="good"
b="night"
c="dear"
str=a+" "+b+" "+c
print(f"combined string is : {str}")

combined string is : good night dear

Asg 4

In [ ]:
for i in range(1,11):
  print(f"7 * {i} = {7*i} \t\t\t\t\t\t\t\t 9 * {i} = {9*i}")

7 * 1 = 7 								 9 * 1 = 9
7 * 2 = 14 								 9 * 2 = 18
7 * 3 = 21 								 9 * 3 = 27
7 * 4 = 28 								 9 * 4 = 36
7 * 5 = 35 								 9 * 5 = 45
7 * 6 = 42 								 9 * 6 = 54
7 * 7 = 49 								 9 * 7 = 63
7 * 8 = 56 								 9 * 8 = 72
7 * 9 = 63 								 9 * 9 = 81
7 * 10 = 70 								 9 * 10 = 90

In [ ]:
n=int(input("Enter a number : "))
for i in range(1,11):
  print(f"{n} * {i} = {n*i}")

Enter a number : 11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [ ]:
n=int(input("Enter a number : "))
s=0
for i in range(1,n+1):
  s=s+i
print(f"Summ of numbers from 1 to {n} is = {s}")

Enter a number : 10
Sum of numbers from 1 to 10 is = 55

Asg 5

In [ ]:
a=int(input("Enter 1st num : "))
b=int(input("Enter 2nd num : "))
c=int(input("Enter 3rd num : "))
maxx=max(a,max(b,c))
print(f"maximum value is = {maxx}")

Enter 1st num : -14
Enter 2nd num : -17
Enter 3rd num : -16
maximum value is = -14

In [ ]:
n=int(input("Enter a number : "))
for i in range(1,n):
  if i%7==0 and i%9==0:
    print(f"{i} is divisible by both 7 and 9")

Enter a number : 976
63 is divisible by both 7 and 9
126 is divisible by both 7 and 9
189 is divisible by both 7 and 9
252 is divisible by both 7 and 9
315 is divisible by both 7 and 9
378 is divisible by both 7 and 9
441 is divisible by both 7 and 9
504 is divisible by both 7 and 9
567 is divisible by both 7 and 9
630 is divisible by both 7 and 9
693 is divisible by both 7 and 9
756 is divisible by both 7 and 9
819 is divisible by both 7 and 9
882 is divisible by both 7 and 9
945 is divisible by both 7 and 9

In [ ]:
n=int(input("Enter a number : "))
for i in range(2,n+1):
  count=0
  for j in range(2,i//2+1):
    if i%j==0:
      count=count+1
      if count>0:
        break
  if count==0:
    print(i)

Enter a number : 40
2
3
5
7
11
13
17
19
23
29
31
37

Asg 6

In [ ]:
n=int(input("Enter a number : "))
def addOdd(n):
  s=0
  for i in range(1,n+1):
    if i%2!=0:
      s=s+i
  return s

print(addOdd(n))

Enter a number : 15
64

In [ ]:
n=int(input("Enter a number : "))
def addPrime(n):
  s=0
  for i in range(2,n+1):
    count=0
    for j in range(2,i//2+1):
      if i%j==0:
        count=count+1
        break
    if count==0:
      s=s+i
  return s

print(addPrime(n))

Enter a number : 14
41