# Asgmnt 2

*Ques 1*

In [ ]:
L=[10,20,30,40,21,60,70,80]
L.append(200)
L.append(300)
print("list after adding 200 and 300 : ",L)
L.remove(10)
L.remove(30)
print("list after removing 10 and 30 : ",L)
L.sort()
print("list after sorting ASC :        ",L)
L.sort(reverse=True)
print("list after sorting DSC :        ",L)

list after adding 200 and 300 :  [10, 20, 30, 40, 21, 60, 70, 80, 200, 300]
list after removing 10 and 30 :  [20, 40, 21, 60, 70, 80, 200, 300]
list after sorting ASC :         [20, 21, 40, 60, 70, 80, 200, 300]
list after sorting DSC :         [300, 200, 80, 70, 60, 40, 21, 20]

*Ques 2*

In [ ]:
scores=(45,89.5,76,45.4,89,92,58,45)
a=max(scores)
print(f"{a} is maximum and found at index : {scores.index(a)}")
b=min(scores)
print(f"{b} is minimum and it's count is : {scores.count(b)}")
print(type(scores))
scores=list(reversed(scores))
print("list after reversing tuple : ",scores)
print(type(scores))
scores=tuple(scores)
x=int(input("Enter a number : "))
if x in scores:
    print(f"{x} is present in the tuple at index (after previous reverse operation): {scores.index(x)}")
else:
    print(f"{x} is not present in the tuple")

92 is maximum and found at index : 5
45 is minimum and it's count is : 2
<class 'tuple'>
list after reversing tuple :  [45, 58, 92, 89, 45.4, 76, 89.5, 45]
<class 'list'>
Enter a number : 45
45 is present in the tuple at index (after previous reverse operation): 0

*Ques 3*

In [59]:
import random
L_odd=[]
L_even=[]
L_prime=[]
L_original=random.sample(range(100,900),100)
print(f"L_original :           {L_original}")
print("\n")
print(f"length of list =       {len(L_original)}")
print("\n")
for i in L:
  if i%2==0:
    L_even.append(i)
print(f"List of even numbers : {L_even}")
print("\n")
for i in L:
  if i%2!=0:
    L_odd.append(i)
print(f"List of odd numbers :  {L_odd}")
print("\n")
for n in L_original:
  count=0
  for i in range(2,n//2+1):
    if n%i==0:
      count=count+1
      break
  if count==0 and n!=1:
    L_prime.append(n)

print(f"List of prime numbers :  {L_prime}")
print("\n")

L_original :           [589, 700, 407, 144, 250, 401, 632, 138, 780, 370, 409, 584, 845, 513, 192, 688, 393, 307, 285, 543, 550, 588, 774, 478, 174, 114, 567, 245, 329, 759, 360, 803, 420, 202, 630, 327, 617, 831, 337, 692, 888, 194, 600, 125, 734, 406, 486, 382, 140, 376, 119, 507, 871, 548, 551, 792, 814, 659, 842, 368, 652, 682, 333, 175, 295, 713, 391, 712, 356, 439, 736, 779, 578, 369, 830, 152, 378, 380, 628, 710, 646, 744, 537, 745, 673, 723, 616, 811, 629, 763, 308, 645, 637, 594, 243, 698, 523, 751, 587, 239]


length of list =       100


List of even numbers : [438, 734, 778, 792, 304, 274, 756, 842, 372, 560, 508, 826, 816, 840, 766, 378, 164, 172, 466, 898, 110, 140, 286, 642, 176, 532, 804, 410, 130, 306, 834, 748, 486, 680, 746, 134, 850, 506, 118, 764, 758, 272, 416, 106, 690, 718, 252, 648, 120, 794, 228, 126, 460, 536, 202, 674, 742]


List of odd numbers :  [125, 183, 301, 871, 555, 771, 117, 393, 357, 175, 101, 119, 469, 263, 487, 755, 223, 167, 609, 635, 345, 505, 383, 153, 697, 475, 619, 515, 777, 593, 549, 879, 409, 121, 603, 839, 419, 541, 599, 499, 113, 503, 519]


List of prime numbers :  [401, 409, 307, 617, 337, 659, 439, 673, 811, 523, 751, 587, 239]

*Ques 4*

In [90]:
from os import remove
A={34,56,78,90}
B={78,45,90,23}
print(f"(A v B) :          {A.union(B)}")
print(f"(A ^ B) :          {A.intersection(B)}")
print(f"(A - B) :          {A.difference(B)}")
print(f"(B - A) :          {B.difference(A)}")
print(f"(A-B) v (B-A) :    {A.symmetric_difference(B)}")
print(f"A <= B :            {A.issubset(B)}")
print(f"B >= A :            {B.issuperset(A)}")
x=int(input("Enter a number : "))
#A.remove(45)  will give Keyerror as 45 is not present in set A
A.discard(45)         #okay work fine with no error
if x in A:
  A.remove(x)
  print(f"{x} is removed from set A")
else:
  print(f"{x} is not present in set A")
print(A)

(A v B) :          {34, 45, 78, 23, 56, 90}
(A ^ B) :          {90, 78}
(A - B) :          {56, 34}
(B - A) :          {45, 23}
(A-B) v (B-A) :    {34, 45, 23, 56}
A <= B :            False
B >= A :            False
Enter a number : 56
56 is removed from set A
{34, 90, 78}

*Ques 5*

In [101]:
sample_dict={
    "name":"Kelly",
    "age":25,
    "salary":8000,
    "city":"New York"
}
# pop(key) delete key and return it's value
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}